/* 

ids are denoted by '#'
classes are denotedby '.'

*/

body {
	background-color: #FAF7FF;
	font-family: 'Public Sans', sans-serif;
}

#main {
	max-width: 1000px;
	margin: auto;
}

.container {
	padding: 24px;
}

h1 {
	color: #7371FC;
	font-family: 'Public Sans', sans-serif;
	font-weight: 800;
}


.text-container {
	display: flex;
	gap: 12px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}




#profile {
	text-align: center;
}

#profile:hover {
	background-color: #ffffff;
}

#profile-pic {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: auto;
}

.figure {
    position: relative;
    width: 360px; /* can be omitted for a regular non-lazy image */
    max-width: 100%;
  }
  .figure img.profile-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
  .figure:hover img.profile-hover {
    opacity: 1;
  }


  .card {
	width: 130px;
	height: 195px;
	background: url("/examples/images/card-back.jpg") no-repeat;
	margin: 50px;
}
.card:hover {
	background: url("/examples/images/card-front.jpg") no-repeat;
}