/* 

ids are denoted by '#'
classes are denotedby '.'

*/

body {
	background-color: #FAF7FF;
	font-family: 'Public Sans', sans-serif;
}

#main {
	max-width: 1000px;
	margin: auto;
}

.container {
	padding: 24px;
}

h1 {
	color: #7371FC;
	font-family: 'Public Sans', sans-serif;
	font-weight: 800;
}

.text-container {
	display: flex;
	gap: 12px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}


#profile {
	text-align: center;
}

#profile:hover {
	background-color: #ffffff;
}

#profile-pic {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: auto;
}

